@model LeagueMaster.Models.Estadisticas_Jugadores

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Estadisticas_Jugadores</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Jugador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Jugador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_Jugador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_Jugador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Minutos_Jugados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Minutos_Jugados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tiros_Campo_Intentados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tiros_Campo_Intentados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tiros_Campo_Exitosos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tiros_Campo_Exitosos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Porcentaje_Tiros_Campo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Porcentaje_Tiros_Campo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tiros_3P_Intentados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tiros_3P_Intentados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tiros_3P_Exitosos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tiros_3P_Exitosos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Porcentaje_Tiros_3P)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Porcentaje_Tiros_3P)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tiros_2P_Intentados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tiros_2P_Intentados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tiros_2P_Exitosos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tiros_2P_Exitosos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Porcentaje_Tiros_2P)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Porcentaje_Tiros_2P)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tiros_Libres_Intentados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tiros_Libres_Intentados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tiros_Libres_Exitosos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tiros_Libres_Exitosos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Porcentaje_Tiros_Libres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Porcentaje_Tiros_Libres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rebotes_Ofensivos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rebotes_Ofensivos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rebotes_Densivos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rebotes_Densivos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total_Rebotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total_Rebotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asistencias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asistencias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Robos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Robos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bloqueos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bloqueos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Perdidas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Perdidas)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
